In [1]:
import pandas as pd
# import seaborn as sns
# import matplotlib.pyplot as plt
import numpy as np
from sklearn.preprocessing import MinMaxScaler, OneHotEncoder

In [2]:
# Concatenate Numerical and Categorical dataframes into one dataframe called data.

In [3]:
numerical= pd.read_csv('numerical.csv')
categorical= pd.read_csv('categorical.csv')

In [4]:
data = pd.concat([categorical,numerical], axis = 1)
data

,state,response,coverage,education,effective_to_date,employmentstatus,gender,location_code,marital_status,policy,...,vehicle_class,vehicle_size,customer_lifetime_value,income,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies,total_claim_amount
0,Washington,No,Basic,Bachelor,2011-02,Employed,F,Suburban,Married,Corporate L3,...,Two-Door Car,Medsize,2763.519279,56274,69,32,5,0,1,384.811147
1,Arizona,No,Extended,Bachelor,2011-01,Unemployed,F,Suburban,Single,Personal L3,...,Four-Door Car,Medsize,6979.535903,0,94,13,42,0,8,1131.464935
2,Nevada,No,Premium,Bachelor,2011-02,Employed,F,Suburban,Married,Personal L3,...,Two-Door Car,Medsize,12887.431650,48767,108,18,38,0,2,566.472247
3,California,No,Basic,Bachelor,2011-01,Unemployed,M,Suburban,Married,Corporate L2,...,SUV,Medsize,7645.861827,0,106,18,65,0,7,529.881344
4,Washington,No,Basic,Bachelor,2011-02,Employed,M,Rural,Single,Personal L1,...,Four-Door Car,Medsize,2813.692575,43836,73,12,44,0,1,138.130879
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,California,No,Basic,Bachelor,2011-02,Employed,M,Urban,Married,Personal L1,...,Four-Door Car,Medsize,23405.987980,71941,73,18,89,0,2,198.234764
9130,California,Yes,Extended,College,2011-02,Employed,F,Suburban,Divorced,Corporate L3,...,Four-Door Car,Medsize,3096.511217,21604,79,14,28,0,1,379.200000
9131,California,No,Extended,Bachelor,2011-02,Unemployed,M,Suburban,Single,Corporate L2,...,Four-Door Car,Medsize,8163.890428,0,85,9,37,3,2,790.784983
9132,California,No,Extended,College,2011-02,Employed,M,Suburban,Married,Personal L2,...,Four-Door Car,Large,7524.442436,21941,96,34,3,0,3,691.200000
9133,California,No,Extended,College,2011-02,Unemployed,M,Suburban,Single,Corporate L3,...,Two-Door Car,Medsize,2611.836866,0,77,3,90,0,1,369.600000

#### 1. In this final lab, we will model our data. Import sklearn train_test_split and separate the data.

In [5]:
y = data['total_claim_amount']
X = data.drop('total_claim_amount', axis=1)

In [6]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

#### 2. Separate X_train and X_test into numerical and categorical (X_train_cat , X_train_num , X_test_cat , X_test_num)

In [7]:
X_train_num = X_train.select_dtypes(include = np.number)
X_test_num = X_test.select_dtypes(include = np.number)
X_train_cat = X_train.select_dtypes(include = object)
X_test_cat = X_test.select_dtypes(include = object)

#### 3. Use X_train_num to fit scalers. Transform BOTH X_train_num and X_test_num.

In [8]:
from sklearn.preprocessing import MinMaxScaler
transformer = MinMaxScaler().fit(X_train_num)
X_train_num_stand = transformer.transform(X_train_num)
X_test_num_stand = transformer.transform(X_test_num)
# pd.DataFrame(X_train_num_stand).head()

#### 4. Encode the categorical variables X_train_cat and X_test_cat (See the hint below for encoding categorical data!!!)

In [9]:
X_train_cat_OneHot = X_train_cat[['state','response','effective_to_date','employmentstatus', 'gender', 'marital_status','policy','renew_offer_type','sales_channel','vehicle_class','vehicle_size']]
X_test_cat_OneHot = X_test_cat[['state','response', 'effective_to_date','employmentstatus', 'gender', 'marital_status','policy','renew_offer_type','sales_channel','vehicle_class','vehicle_size']]

X_train_cat_ordinal = X_train_cat[['coverage', 'location_code', 'vehicle_size']]
X_test_cat_ordinal = X_test_cat[['coverage', 'location_code', 'vehicle_size']]

In [10]:
from sklearn.preprocessing import OneHotEncoder
encoder = OneHotEncoder(handle_unknown='error', drop='first').fit(X_train_cat_OneHot)
X_train_cat_OneHot_encoded = encoder.transform(X_train_cat_OneHot).toarray()
X_test_cat_OneHot_encoded = encoder.transform(X_test_cat_OneHot).toarray()

In [11]:
X_train_cat_ordinal['coverage'] = X_train_cat_ordinal['coverage'].map({"Basic" : 0, "Extended" : 0.5, "Premium" : 1})
# X_train_cat_ordinal['employmentstatus'] = X_train_cat_ordinal['employmentstatus'].map({"Unemployed" : 0, "Disabled" : 0.25, "Retired" : 0.5, "Medical Leave" : 0.75, "Employed" : 1})
X_train_cat_ordinal['location_code'] = X_train_cat_ordinal['location_code'].map({"Rural" : 0, "Suburban" : 0.5, "Urban" : 1})
X_train_cat_ordinal['vehicle_size'] = X_train_cat_ordinal['vehicle_size'].map({"Small" : 0, "Medsize" : 0.5, "Large" : 1})
X_train_cat_ordinal= X_train_cat_ordinal.to_numpy()
# pd.DataFrame(X_train_cat_ordinal).head()

C:\Users\gorka\AppData\Local\Temp\ipykernel_1120\1918996805.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_train_cat_ordinal['coverage'] = X_train_cat_ordinal['coverage'].map({"Basic" : 0, "Extended" : 0.5, "Premium" : 1})
C:\Users\gorka\AppData\Local\Temp\ipykernel_1120\1918996805.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_train_cat_ordinal['location_code'] = X_train_cat_ordinal['location_code'].map({"Rural" : 0, "Suburban" : 0.5, "Urban" : 1})
C:\Users\gorka\AppData\Local\Temp\ipykernel_1120\1918996805.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_train_cat_ordinal['vehicle_size'] = X_train_cat_ordinal['vehicle_size'].map({"Small" : 0, "Medsize" : 0.5, "Large" : 1})

In [12]:
X_test_cat_ordinal['coverage'] = X_test_cat_ordinal['coverage'].map({"Basic" : 0, "Extended" : 0.5, "Premium" : 1})
# X_test_cat_ordinal['employmentstatus'] = X_test_cat_ordinal['employmentstatus'].map({"Unemployed" : 0, "Disabled" : 0.25, "Retired" : 0.5, "Medical Leave" : 0.75, "Employed" : 1})
X_test_cat_ordinal['location_code'] = X_test_cat_ordinal['location_code'].map({"Rural" : 0, "Suburban" : 0.5, "Urban" : 1})
X_test_cat_ordinal['vehicle_size'] = X_test_cat_ordinal['vehicle_size'].map({"Small" : 0, "Medsize" : 0.5, "Large" : 1})
X_test_cat_ordinal= X_test_cat_ordinal.to_numpy()
# pd.DataFrame(X_test_cat_ordinal).head()

C:\Users\gorka\AppData\Local\Temp\ipykernel_1120\4021922851.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_test_cat_ordinal['coverage'] = X_test_cat_ordinal['coverage'].map({"Basic" : 0, "Extended" : 0.5, "Premium" : 1})
C:\Users\gorka\AppData\Local\Temp\ipykernel_1120\4021922851.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_test_cat_ordinal['location_code'] = X_test_cat_ordinal['location_code'].map({"Rural" : 0, "Suburban" : 0.5, "Urban" : 1})
C:\Users\gorka\AppData\Local\Temp\ipykernel_1120\4021922851.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_test_cat_ordinal['vehicle_size'] = X_test_cat_ordinal['vehicle_size'].map({"Small" : 0, "Medsize" : 0.5, "Large" : 1})

In [13]:
X_train_clean = np.concatenate([X_train_num_stand, X_train_cat_OneHot_encoded,X_train_cat_ordinal], axis=1) 
X_test_clean = np.concatenate([X_test_num_stand, X_test_cat_OneHot_encoded,X_test_cat_ordinal], axis=1)

#### 5. Since the model will only accept numerical data, check and make sure that every column is numerical, if some are not, change it using encoding.

In [14]:
pd.DataFrame(X_train_clean).head()

,0,1,2,3,4,5,6,7,8,9,...,34,35,36,37,38,39,40,41,42,43
0,0.166034,0.843920,0.147679,0.142857,0.545455,0.0,0.125,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.5,0.0,0.5
1,0.044826,0.678109,0.033755,0.028571,0.787879,0.0,1.000,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.5,0.5
2,0.006607,0.874786,0.000000,0.000000,0.797980,0.2,0.000,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.5
3,0.024420,0.000000,0.215190,0.371429,0.595960,0.0,0.000,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.5,0.5
4,0.027877,0.000000,0.033755,0.628571,0.989899,0.6,0.875,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.5,0.5

In [15]:
pd.DataFrame(X_test_clean).head()

,0,1,2,3,4,5,6,7,8,9,...,34,35,36,37,38,39,40,41,42,43
0,0.020863,0.306998,0.126582,0.628571,0.232323,0.2,0.000,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.5,0.5,0.0
1,0.012250,0.462758,0.046414,0.114286,0.737374,0.0,0.000,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.5
2,0.194354,0.257759,0.679325,0.600000,0.585859,0.0,0.375,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.5,0.5,0.5
3,0.223557,0.236425,0.172996,0.914286,0.626263,0.0,0.125,0.0,1.0,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.5,0.5
4,0.191576,0.000000,0.050633,0.257143,0.949495,0.0,0.125,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.5,0.5

#### 6. Try a simple linear regression with all the data to see whether we are getting good results.

In [16]:
from sklearn import linear_model
lm = linear_model.LinearRegression()
lm.fit(X_train_clean,y_train)

LinearRegression()

In [17]:
from sklearn.metrics import r2_score
lm_train_predictions = lm.predict(X_train_clean)
lm_train_r2 = r2_score(y_train, lm_train_predictions)
lm_train_r2

0.6221815389147572

In [18]:
lm_test_predictions = lm.predict(X_test_clean)
lm_test_r2 = r2_score(y_test, lm_test_predictions)
lm_test_r2

0.6419485784067761

#### 7., 8. and 9. Great! Now define a function that takes a list of models and train (and tests) them so we can try a lot of them without repeating code. Use the function to check  KNeighborsRegressor. You can check also the MLPRegressor for this task!

In [19]:
def models_train_test(k,lay1,lay2):

    # Linear Regression

    # Fitting and training the model
    lm = linear_model.LinearRegression()
    lm.fit(X_train_clean,y_train)
    # Predictions on TRAIN data and R2 score 
    lm_train_predictions = lm.predict(X_train_clean)
    lm_train_r2 = r2_score(y_train, lm_train_predictions)
    # Predictions on TEST data and R2 score
    lm_test_predictions = lm.predict(X_test_clean)
    lm_test_r2 = r2_score(y_test, lm_test_predictions)


    #KNeigbhours

    # Fitting and training the model
    knm = KNeighborsRegressor(n_neighbors=k)
    knm.fit(X_train_clean, y_train)
    # Predictions on TRAIN data and score 
    kn_train_score = knm.score(X_train_clean, y_train)
    # Predictions on TEST data and score
    kn_test_predictions = knm.predict(X_test_clean)
    kn_test_score = knm.score(X_test_clean, y_test)


    #MLP Regressor

    # Fitting and training the model
    mlp = MLPRegressor(hidden_layer_sizes=(50, 50))
    mlp.fit(X_train_clean, y_train)

    # Predictions on TEST data and score
    mlp_test_predictions = mlp.predict(X_test_clean)
    mlp_test_score = r2_score(y_test,mlp_test_predictions)


    return lm_test_r2, kn_test_score, k, mlp_test_score

In [22]:
from sklearn.neighbors import KNeighborsRegressor
from sklearn.neural_network import MLPClassifier
from sklearn.neural_network import MLPRegressor
lm_test_r2, kn_test_score, k, mlp_test_score = models_train_test(8,50,50)
print("KNeighbour TEST score: {}(k set to {}).\nLinear Regression R2 TEST score: {}.\nMLP Regression R2 TEST score{}".format(kn_test_score, k, lm_test_r2, mlp_test_score))

KNeighbour TEST score: 0.4399314769664908(k set to 8).
Linear Regression R2 TEST score: 0.6419485784067761.
MLP Regression R2 TEST score0.6926437120634339

C:\Users\gorka\anaconda3\lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:692: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  warnings.warn(

#### 10. Check and discuss the results.